<div class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">My first complete Nodejs App</h1>
      <p class="lead">
          Hi! My name is Mauricio Pastén and this is my first complete Nodejs App.
          This app is using Nodejs, Js, Bootstrap with theme Morph by Bootswatch, and 
          some npm modules like handlebars for render the views, mongoose for work with
          MongoDB, and Express.
      </p>
    </main>
  </div>
</div>